.fifthblock 
    .inner 
        .content
            p
            p serviciile noastre.
            p Atât pentru angajatori, cât și pentru recruiteri.
            p Pentru ca incercam sa ne pozitionam intre candindati si angajatori sau recruiteri, avem o paleta larga de servicii care vine in intampinarea ambelor tabere. Uite cateva din serviciile noastre: calibrare profil, candidati activi, interviu online, campanii de marketing, employer branding.
            .buttons
                button mai mult
    .inner
        .content
            p
            p employer branding. #[br] done right.
            p Toata lumea face employer branding. Însă puțini fac asta corect și eficient.
            p Cu o echipă mixtă de marketeri, recruiteri, designeri și developeri, fiecare cu experiență extensivă în domeniul de activitate, și cu zeci de campanii de employer branding facute împreună, credem că putem face o diferență semnificativă în astfel de campanii. Mai multe detalii în curând.
            .buttons
                button Contactează-ne