.firstblock
    .content
        p căutarea s-a încheiat
        p loc de mun­că noi ți-am dat
        p Pe muncim.ro nu cauți de muncă. Îți găsim noi.
        p Te înregistrezi cu datele tale complete, ne spui la ce te pricepi și în ce zonă ai vrea să lucrezi, iar echipa noastră se ocupă să îți găsească cel mai bun loc de muncă, pe baza cerințelor tale. Dă-ne de lucru!
        .buttons
            button Descoperă #[img(src='img/arrow.png')]
    img(src="img/firstman.png", alt="")