.rightblock
    .inner 
        .column 
            button HOME 
            button Cine muncește
            button Cum muncim
            button Contact
            button Înscrie-te
        .column 
            a(href='#') Politica de cookies
            a(href='#') Termeni de utilizare
            a(href='#') Politica de prelucrare a datelor
            a(href='#') Retragerea consimțământului
            a(href='#') Furnizori terțe părți
    .inner
        p NOI MUNCIM.RO SRL · Sediul: Strada Ion Luca Caragiale Nr. 4B, Jud. Ilfov · CUI: 44385600 · Nr. Registrul Comerțului: J23/3448/2021 · Tel: +x-(xxx)-xxx-xx-xx #[br] contact@muncim.ro · Informații legate de date personale: privacy@muncim.ro
        p © NOI MUNCIM SRL. Toate drepturile rezervate.