extends layouts/layout

block header 
    include includes/header/links
    include includes/header/muncim
    include includes/line-bottom

block main 
    include includes/main/firstblock
    include includes/line-bottom
    include includes/main/secondblock

block footer