extends layouts/layout

block header 
    include includes/header/links
    include includes/header/muncim
    include includes/line-bottom

block main 
    include includes/main/firstblock
    include includes/line-bottom
    include includes/main/secondblock
    include includes/line-bottom
    include includes/main/thirdblock
    include includes/line-bottom
    include includes/main/fourthblock
    include includes/main/fifthblock

block footer