@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #CACACA;
  overflow-x: hidden;
}

button {
  border: none;
}

.line {
  width: 95%;
  margin: 40px 2.5% 40px 2.5%;
  background-color: black;
  height: 1px;
}

header {
  height: 280px;
}
header .links {
  height: 40px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
header .links .inner {
  width: 860px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
header .links .inner button {
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.2px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
}
header .links .inner button:nth-child(1) {
  background-color: black;
  border: 1px solid black;
  color: white;
  width: 81px;
  font-size: 19px;
}
header .links .inner button:nth-child(1n+2) {
  width: auto;
  background-color: transparent;
  border: 1px solid black;
  font-weight: 700;
}
header .links .inner button:nth-child(5) {
  background-color: #99FF91;
  padding-right: 15px;
}

.firstblock {
  width: 1300px;
  height: 619.31px;
  margin: 0 19.5px 0 19.5px;
  display: flex;
}
.firstblock .content {
  width: 55%;
  height: 100%;
}
.firstblock .content p {
  margin-top: 20px;
}
.firstblock .content p:nth-child(1) {
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.firstblock .content p:nth-child(2) {
  font-size: 98px;
  line-height: 98px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-weight: 700;
}
.firstblock .content p:nth-child(3) {
  font-size: 28px;
  line-height: 33.6px;
}
.firstblock .content p:nth-child(4) {
  font-size: 18px;
  line-height: 27px;
  width: 569px;
}
.firstblock .content .buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.firstblock .content .buttons button {
  border: 1px solid black;
  width: 191px;
  height: 27px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
.firstblock .content .buttons button:nth-child(2) {
  background-color: white;
  width: 146px;
}
.firstblock .content .buttons button img {
  top: 0;
  margin-left: 5px;
  width: 17.48px;
  height: 17.85px;
}
.firstblock .buttons button:nth-child(1) {
  background-color: #99FF91;
}

.secondblock {
  width: 1339px;
  height: 1130px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}
.secondblock .leftblock {
  height: 100%;
  width: 50%;
  padding-left: 30px;
}
.secondblock .leftblock p {
  text-transform: uppercase;
  font-weight: 700;
}
.secondblock .leftblock p:nth-child(1) {
  font-size: 21px;
}
.secondblock .leftblock p:nth-child(2) {
  font-size: 72px;
  letter-spacing: 0.5px;
  width: 379px;
  margin-top: 40px;
}
.secondblock .leftblock p:nth-child(3) {
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
  text-transform: none;
  width: 542px;
}
.secondblock .leftblock .inner {
  border: 1px solid #333333;
  width: 576px;
  height: 192px;
  border-radius: 36px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.secondblock .leftblock .inner:nth-child(4) {
  margin-top: 100px;
}
.secondblock .leftblock .inner .innerchild {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondblock .leftblock .inner .innerchild p {
  margin: 0;
}
.secondblock .leftblock .inner .innerchild p:nth-child(1) {
  font-size: 21px;
  line-height: 25.2px;
  letter-spacing: 0.2px;
  width: 300px;
}
.secondblock .leftblock .inner .innerchild p:nth-child(2) {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
  text-transform: none;
  margin-top: 20px;
}
.secondblock .rightblock {
  border: 1px solid #333333;
  background: linear-gradient(180deg, #99FF91 0%, #61D1F2 100%);
  height: 632px;
  width: 688px;
  margin-right: 20px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondblock .rightblock .inner {
  margin: 40px 40px 40px 40px;
  width: 590px;
  height: 534px;
}
.secondblock .rightblock .inner p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 52.8px;
}
.secondblock .rightblock .inner p:nth-child(2) {
  font-size: 20px;
  line-height: 27px;
}
.secondblock .rightblock .inner .line {
  margin-top: 80px;
  height: 2px;
}
.secondblock .rightblock .inner button {
  width: 590px;
  height: 108px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 21px;
  background-color: black;
  border: 1px solid black;
  margin-top: 75px;
}

.thirdblock {
  display: flex;
}
.thirdblock .content {
  width: 55%;
  height: 100%;
}
.thirdblock .content p {
  margin-top: 20px;
}
.thirdblock .content p:nth-child(1) {
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.thirdblock .content p:nth-child(2) {
  font-size: 98px;
  line-height: 98px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-weight: 700;
}
.thirdblock .content p:nth-child(3) {
  font-size: 28px;
  line-height: 33.6px;
}
.thirdblock .content p:nth-child(4) {
  font-size: 18px;
  line-height: 27px;
  width: 569px;
}
.thirdblock .content .buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.thirdblock .content .buttons button {
  border: 1px solid black;
  width: 191px;
  height: 27px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
.thirdblock .content .buttons button:nth-child(2) {
  background-color: white;
  width: 146px;
}
.thirdblock .content .buttons button img {
  top: 0;
  margin-left: 5px;
  width: 17.48px;
  height: 17.85px;
}
.thirdblock .buttons button:nth-child(1) {
  background-color: #99FF91;
}
.thirdblock .content {
  position: relative;
  right: 100px;
}
.thirdblock img {
  position: relative;
  right: 100px;
  max-width: 759px;
  height: 688px;
}
.thirdblock p:nth-child(2) {
  width: 700px;
}
.thirdblock p:nth-child(3) {
  width: 506px;
}
.thirdblock p:nth-child(4) {
  max-width: 528px;
}

.fourthblock {
  width: 1339px;
  height: 854px;
  border: 2px solid black;
  display: flex;
}
.fourthblock .buttons {
  min-width: 400px;
}
.fourthblock .buttons button:nth-child(1) {
  background-color: #FFE8A3;
  min-width: 220px;
  padding-left: 30px;
}
.fourthblock img {
  position: relative;
  right: 100px;
}
.fourthblock .content {
  width: 55%;
  height: 100%;
}
.fourthblock .content p {
  margin-top: 20px;
}
.fourthblock .content p:nth-child(1) {
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.fourthblock .content p:nth-child(2) {
  font-size: 98px;
  line-height: 98px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-weight: 700;
}
.fourthblock .content p:nth-child(3) {
  font-size: 28px;
  line-height: 33.6px;
}
.fourthblock .content p:nth-child(4) {
  font-size: 18px;
  line-height: 27px;
  width: 569px;
}
.fourthblock .content .buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.fourthblock .content .buttons button {
  border: 1px solid black;
  width: 191px;
  height: 27px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
.fourthblock .content .buttons button:nth-child(2) {
  background-color: white;
  width: 146px;
}
.fourthblock .content .buttons button img {
  top: 0;
  margin-left: 5px;
  width: 17.48px;
  height: 17.85px;
}
/*# sourceMappingURL=main.css.map */
